.countdown{
    padding:100px 20px;
    background:#f8f3ec;
    text-align:center;
}

.countdown h2{
    font-size:45px;
    color:#7b4f28;
    margin-bottom:50px;
}

.timer{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.box{
    width:150px;
    height:150px;
    background:white;
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    box-shadow:0 15px 30px rgba(0,0,0,.08);
}

.box h1{
    font-size:55px;
    color:#c79b5d;
}

.box span{
    color:#666;
    margin-top:10px;
}