.rsvp{
padding:120px 20px;
background:#fff;
text-align:center;
}

.small-title{
letter-spacing:5px;
color:#c59d5f;
margin-bottom:10px;
}

.rsvp h2{
font-size:48px;
color:#4d3525;
margin-bottom:50px;
font-family:Georgia, serif;
}

form{
max-width:600px;
margin:auto;
display:flex;
flex-direction:column;
gap:20px;
}

input,
select{

padding:18px;

border-radius:12px;

border:1px solid #ddd;

font-size:17px;

outline:none;
}

button{

padding:18px;

background:#c59d5f;

border:none;

border-radius:12px;

font-size:18px;

color:white;

cursor:pointer;

transition:.3s;
}

button:hover{

transform:translateY(-4px);
}