.music-btn{

position:fixed;

bottom:25px;

right:25px;

width:55px;

height:55px;

border:none;

border-radius:50%;

background:#d4af37;

color:white;

font-size:24px;

cursor:pointer;

box-shadow:0 8px 25px rgba(0,0,0,.25);

z-index:9999;

transition:.3s;

}

.music-btn:hover{

transform:scale(1.1);

}